.Restaurant {
    width: 300px;
    height: 150px;
    background-color: silver;
    color: #000;
    margin: 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
}

.Restaurant:hover {
    cursor: pointer;
}

.Restaurant:active {
    transform: translateY(2px);
}

.Steak {
    background-image: url("../../../Assets/steak.png");
}

.Wings {
    background-image: url("../../../Assets/wings.png");
}
