.Navigation {
    background-color: #0a6b01;
    border-top: 1px solid white;
    color: white;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
