.Header {
    background: linear-gradient(to right bottom, #75e496, #0a6b01);
    height: 100px;
    color: #fff;
    padding: 20px;
    text-transform: capitalize;
    font-size: 1.8em;
    letter-spacing: 2px;

    display: flex;
    justify-content: space-between;
}

.Header_title {
}

.Header_logo img {
    width: 65px;
    height: 65px;
    margin-right: 25px;
}
