.NavigationItem {
    box-sizing: border-box;
    display: block;
    background-color: rgb(42, 143, 12);
    height: 100%;
    margin-right: 2px;
}

.NavigationItem a {
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    height: 100%;
}
.active {
    background-color: rgb(47, 161, 12);
    border-bottom: 5px solid rgb(66, 65, 65);
}

.NavigationItem a:hover {
    text-decoration: none;
    color: white;
}

.NavigationItem:hover {
    cursor: pointer;
    background-color: rgb(47, 161, 12);
}

.NavigationItem:active {
    cursor: pointer;
    background-color: rgb(47, 161, 12);
    border-bottom: 5px solid rgb(66, 65, 65);
}
